<div class="table-card">
    <div style="overflow-x:auto;" class="table-container mat-elevation-z8">
        <div class="filter-container">
            <mat-form-field appearance="fill">
                <mat-label>Gender Filter</mat-label>
                <mat-select (selectionChange)="onChange($event)">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filter-container">
            <mat-form-field appearance="fill">
                <mat-label>Nationality Filter</mat-label>
                <input matInput placeholder="search by abbreviation" autocomplete="off" (keyup)="applyFilter($event)">
            </mat-form-field>
        </div>


        <table class="styled-table" matTableExporter mat-table matSort [dataSource]="dataSource"
            #exporter="matTableExporter">
            <!-- Pic Column -->
            <ng-container matColumnDef="dp">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let user"> <img [src]="user.picture.thumbnail"
                        [alt]="user.picture.thumbnail" /></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.name.title}} {{user.name.first}} {{user.name.last}}</td>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell [hidden]="show" (click)="toggleColumns()" *matHeaderCellDef> Gender </th>
                <td mat-cell [hidden]="show" *matCellDef="let user"> {{user.gender}} </td>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let user"> {{user.nat}}, {{user.location.country}}</td>
            </ng-container>

            <!-- E-mail Column -->
            <ng-container matColumnDef="e-mail">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <!-- Current Age Column -->
            <ng-container matColumnDef="current age">
                <th mat-header-cell *matHeaderCellDef> Current Age </th>
                <td mat-cell *matCellDef="let user"> {{user.registered.age}} </td>
            </ng-container>

            <!-- Registration Seniority -->
            <ng-container matColumnDef="registration seniority">
                <th mat-header-cell *matHeaderCellDef> Registration Seniority </th>
                <td mat-cell *matCellDef="let user"> {{user.registered.date | date: 'MMM/dd/yyyy'}} </td>
            </ng-container>

            <!-- Phone number Column -->
            <ng-container matColumnDef="phone number">
                <th mat-header-cell *matHeaderCellDef> Phone number </th>
                <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="paginator-container" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

        <div class="export-buttons">
            <button mat-raised-button
                (click)="exporter.exportTable('xlsx', {fileName:'random users', sheet: 'sheet_name', Props: {Author: 'Ronny'}})">Excel</button>
                <span></span>
            <button mat-raised-button (click)="exporter.exportTable('csv')">CSV</button>
        </div>
    </div>

</div>